<div class="text-white bg-black">
  <div class="flex justify-between mx-40 border-b-2 border-notGray py-8 my-4">
    <div class="flex items-center">
      <img src="../../../assets/logos/logo.png" alt="" class="h-14" />
    </div>
    <div class="flex items-center">
      <img src="../../../assets/icons/home.svg" class="h-10" />
      <p class="mx-2">Moscow, Baumanskaya st, 68/8, building 1</p>
    </div>

    <div class="flex items-center">
      <img src="../../../assets/icons/phone.svg" class="h-10" />
      <p class="mx-2">+7 495 249-11-13</p>
    </div>

    <div class="flex items-center">
      <img src="../../../assets/icons/mail.svg" class="h-12" />
      <p class="mx-2">info@baum-inform.ru</p>
    </div>
  </div>
  <p class="text-center pb-4">@ 2022 Baum-inform. All rights reserved.</p>
</div>
