<!-- Front -->
<div class="flex items-center bg-primary text-white mx-6">
  <div class="mx-auto">
    <div class="flex items-center mb-4">
      <div class="border-b-2 px-16 border-white"></div>
      <p class="ml-5 text-2xl">
        Lorum Ipsum dolor sit amet, consctetur adipiscing elit.
      </p>
    </div>
    <p class="font-sofachrome mirror-text text-7xl">BAUM AI</p>
    <p class="text-2xl">{{ moscow }} - Moscow, Russia</p>
  </div>
  <div class="img-crop1-img h-full w-1/2 bg-cover bg-no-repeat">
    <div class="img-crop1-img-bg h-full bg-dark"></div>
  </div>
</div>

<!-- Black Bar -->
<div
  class="flex items-end justify-between mx-6 pt-4 bg-black text-white gap-x-20 px-20"
>
  <div class="max-w-5xl">
    <div class="flex gap-x-16">
      <p class="text-2xl font-semibold">Reliability</p>
      <p class="text-2xl font-semibold">Performancen</p>
      <p class="text-2xl font-semibold">Innovation</p>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Faucibus turpis in eu
      mi bibendum neque. Mattis ullamcorper velit sed ullamcorper morbi
      tincidunt ornare massa eget. Pellentesque id nibh tortor id aliquet. A
      diam sollicitudin tempor id eu nisl nunc mi ipsum.
    </p>
  </div>
  <button
    class="flex items-center justify-center border-2 border-white bg-gray p-5 h-fit"
  >
    <p class="text-2xl">Read More</p>
    <img src="../../../assets/icons/arrow-right.svg" alt="" class="m-2 h-6" />
  </button>
</div>
